*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, #2193b0  0%, #6dd5ed 100%);
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #fff;
    padding: 0.75em;
    box-shadow: 10px 10px 20px #2193b0;
}
li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #4CAF50;
}
a:hover{
    color: black;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;  
    /* height: 100px; */
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}
.container-header{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
}
.container-body{
   margin-bottom: 15px;
   font-family: 'Mochiy Pop One', sans-serif;
}
.container:hover{
    box-shadow: 10px 10px 20px #2193b0;
    transform: scale(1.01);
}
input{
    width: 58%;
    padding: 2.9px;
    border: 2px solid purple;
    border-radius: 3px;
}
select{
    width: 36%;
    padding: 2.05px;
    border: 2px solid purple;
    border-radius: 3px;
}

/*! Share and Copied To ClipBoard */
.btn-group{
    display: none;
}
.btn-group:hover{
    cursor: pointer;
}
.fa-twitter:hover, .fa-whatsapp:hover, .fa-clone:hover{
    transform: scale(1.35);
}
.fa-whatsapp{
    color: #4CAF50;
}
.fa-twitter{
    color: #1da1f2;
}
.btn-group i {
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: white;
    box-shadow: 5px 5px 10px #00000052, -5px -5px 10px #ffffff;
}
.copied{
    display:  none;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow:  5px 5px 10px #00000052, -5px -5px 10px #ffffff;
    font-size: 15px;
    padding: 2px;
    margin-bottom: 10px;
    transform: scale(1);
}
a{
    text-decoration: none;
}
/*! Generate Button */
/* From cssbuttons.io by @adamgiebl */
.cssbuttons-io-button {
    background: #A370F0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.3em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 1.67em;
    padding-right: 3.3em;
    margin: -0.1em 0 0 .1em;
   }
   
   .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 1.8em;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }

